@font-face {  font-family: daydream;  src: url(assets/Daydream.ttf); }
@font-face {font-family: pixelmix; src: url(assets/pixelmix.ttf);}
@font-face {font-family: dogica; src: url(assets/dogica.otf);}

h1 {font-family: daydream;}
main {
  font-family: monospace;
}
#the-grid, #readout {
  font-family: dogica;
}
#the-grid {
  font-size: 16px;
  display: inline-block;
  margin: auto;
  position: relative;
}
#the-grid .row {
  margin: 0.5em 0;
  /* margin: 6px 0; */
  margin: 0;
}
#the-grid .node {
  margin: 0.2em 0.4em;
  width: 16px; height: 16px;
  /* text-align: center; */
  vertical-align: middle;
  margin: 5px 5px; // makes 10
  padding: 20px 0px -2px 0px;
  padding-top: 2px;
  padding-left: 2px;
  /* padding-bottom: 20px; */
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  position: relative;
  display: inline-block;
  box-sizing: content-box;

}

#the-grid .node.selected {
  /* outline: 2px solid red; */
}
#the-grid .node.selected::after {
  content:''; position: absolute;
  width: calc(100% + 0px); height: calc(100% + 0px); top: -2px; left: 0px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
#the-grid .node.selected::before {
  content:''; position: absolute;
  width: calc(100% + 0px); height: calc(100% + 0px); left: -2px; top: -0px;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.spin_anim {animation: spin 2s 0s linear;}

@keyframes spin {
  0%,100% {transform: scaleX(1);}
  50% {transform: scaleX(-1);}
  /* 0%,100% {top: 0px;}
  100% {top: 10px;} */
}

#readout {font-size: 0.8em; margin-top: 2em;}

#readout > div {margin-left: 1em;}

.wire {
  height: 2px;
  position: absolute;
}
